/* Only add styles in this file that are not related to bootstrap and need to be globally loaded */

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

/* customize the material symbols */
.material-symbols-outlined {
  vertical-align: text-bottom;
}

.btn-sm .material-symbols-outlined {
  margin-top: -0.15em;
  margin-bottom: -0.15em;
}
